<!DOCTYPE html>
<html class="no-js" lang="es">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page.description ? page.description : site.description }}" />

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" media="all">

    <meta property="fb:app_id" content="48119224995" />
    <meta property="og:site_name" content="funddy" />
    <meta property="og:title" content="{{ page.title ? page.title : site.title }}"/>
    <meta property="og:url" content="{{ page.url ? page.url : site.url }}" />
    <meta property="og:description" content="{{ page.description ? page.description : site.description }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ page.description ? page.description : site.description }}" />
    <meta name="twitter:title" content="{{ page.title ? page.title : site.title }}" />
    <meta name="twitter:url" content="{{ page.url ? page.url : site.url }}" />

    {% if page.redirect %}
      <script src="/js/main.js"></script>
    {% endif %}

    <script src="//use.typekit.net/ywb2rek.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header>
      <h1><a href="/" title="Home">funddy <span>blog</span></a></h1>

      <p id="description">Welcome to <a href="https://funddy.com">Funddy</a>'s blog, an online service that enables everyday people to raise money for everything that matters.</p>

    </header>
    
    <ol id="posts">
      {{content}}
    </ol>

    <footer>
      <ol>
        <li><a href="https://twitter.com/funddy" title="funddy on Twitter">Twitter</a></li>
        <li><a href="http://www.facebook.com/funddy">Facebook</a></li>
        <li><a href="/es/">Castellano</a></li>
        <li><a href="/">English</a></li>
      </ol>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33878181-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>